In [1]:
import pandas as pd
import numpy as np

from keys import conn_str
from sqlalchemy import create_engine, exc

In [2]:
df = pd.read_sql_table('customers_raw', conn_str)
df.tail()

,index,Data.City,Data.Email,Data.Mobile,Data.Phone,Data.Code,Data.Name,TotalCount
435,0,None,None,0712606135,None,2606135,Winnie Anyango,440
436,0,None,None,None,0710784880,0784880,Winnie Ndolo,440
437,0,None,None,None,0793051124,3051124,Yvonne,440
438,0,None,None,0728889010,None,8889010,Zilpha Deche,440
439,0,None,None,None,0712412847,2412847,Zubeda,440

In [3]:
df2 = pd.read_csv('mpesa_kopokopo.csv', header=1)
df2.head()

,Date,Transaction ID,Phone,Name,Till No.,Fees,Amount,MM System,Status
0,2020-02-07 14:13,OB76W94IRQ,254743421527,veronica margaret,971845,1.40,280.0,M-PESA,Complete
1,2020-02-07 14:27,OB77W9INAP,254702656420,PRISCILLAH WAMBUA,971845,0.00,200.0,M-PESA,Complete
2,2020-02-07 15:06,OB72WAO0WY,254718142970,DAVID MBUA,971845,7.50,1500.0,M-PESA,Complete
3,2020-02-07 18:18,OB71WH2DO3,254704917883,JENNIFER KITETU,971845,2.00,400.0,M-PESA,Complete
4,2020-02-07 18:45,OB74WI4YLA,254724130465,CHEBET JOYLINE,5045769,1.48,297.0,M-PESA,Complete

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2683 entries, 0 to 2682
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            2683 non-null   object
 1   Transaction ID  2683 non-null   object
 2   Phone           2683 non-null   int64
 3   Name            2683 non-null   object
 4   Till No.        2683 non-null   int64
 5   Fees            2683 non-null   float64
 6   Amount          2683 non-null   float64
 7   MM System       2683 non-null   object
 8   Status          2683 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 188.8+ KB

In [5]:
df2.Phone = df2['Phone'].astype(str)

In [6]:
df2['Data.Code'] = df2['Phone'].str.slice(start=5)
df2.head()

,Date,Transaction ID,Phone,Name,Till No.,Fees,Amount,MM System,Status,Data.Code
0,2020-02-07 14:13,OB76W94IRQ,254743421527,veronica margaret,971845,1.40,280.0,M-PESA,Complete,3421527
1,2020-02-07 14:27,OB77W9INAP,254702656420,PRISCILLAH WAMBUA,971845,0.00,200.0,M-PESA,Complete,2656420
2,2020-02-07 15:06,OB72WAO0WY,254718142970,DAVID MBUA,971845,7.50,1500.0,M-PESA,Complete,8142970
3,2020-02-07 18:18,OB71WH2DO3,254704917883,JENNIFER KITETU,971845,2.00,400.0,M-PESA,Complete,4917883
4,2020-02-07 18:45,OB74WI4YLA,254724130465,CHEBET JOYLINE,5045769,1.48,297.0,M-PESA,Complete,4130465

In [7]:
new_df = pd.merge(df2,df, how='inner')
new_df

,Date,Transaction ID,Phone,Name,Till No.,Fees,Amount,MM System,Status,Data.Code,index,Data.City,Data.Email,Data.Mobile,Data.Phone,Data.Name,TotalCount
0,2020-02-07 15:06,OB72WAO0WY,254718142970,DAVID MBUA,971845,7.50,1500.0,M-PESA,Complete,8142970,0,None,None,0718142970,None,Mutheu Daudi,440
1,2020-02-07 18:45,OB74WI4YLA,254724130465,CHEBET JOYLINE,5045769,1.48,297.0,M-PESA,Complete,4130465,0,None,None,None,0724130465,Joylene,440
2,2020-02-07 18:55,OB77WIL885,254724130465,CHEBET JOYLINE,5045769,2.00,400.0,M-PESA,Complete,4130465,0,None,None,None,0724130465,Joylene,440
3,2020-02-09 17:46,OB97Y39QCX,254798639024,CAROLINE KIRUJA,971845,2.00,400.0,M-PESA,Complete,8639024,0,None,None,None,0798639024,Caroline Mwendwa,440
4,2020-02-09 18:47,OB98Y5E2CQ,254713340676,brenda nalondo,5045769,0.00,200.0,M-PESA,Complete,3340676,0,None,None,None,0713340676,Brenda Khisa,440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,2021-01-09 13:28,PA95GFQAI5,254712587989,EASTHER NJOKI,5045769,2.00,400.0,M-PESA,Complete,2587989,0,None,None,None,0712587989,Esther Njoki,440
341,2020-10-19 12:00,OJJ7MVPONH,254712598539,BEATRICE GATHONI,5045769,0.00,270.0,M-PESA,Complete,2598539,0,None,None,0712598539,None,Beatrice Wanjiru,440
342,2020-10-21 13:07,OJL0P45UWO,254721905111,RACHEL MULI,5045769,0.00,100.0,M-PESA,Complete,1905111,0,None,None,None,0721905111,Rachel Mbula,440
343,2020-12-02 09:15,OL204071XK,254799179715,CYNTHIA MUTUA,5045769,0.00,200.0,M-PESA,Complete,9179715,0,None,None,None,0799179715,Cynthia,440
344,2020-12-11 17:15,OLB9G431W3,254706857412,FLORENCE SUNGUTI,5045769,0.00,520.0,M-PESA,Complete,6857412,0,None,None,None,0706857412,Florence,440

In [8]:
new_df = new_df.drop(columns=['Transaction ID', 'Till No.', 'Fees', 'MM System', 'Status', 'index', 'Data.City',
                              'Data.Email', 'Data.Mobile', 'Data.Phone', 'Data.Name', 'TotalCount'])

new_df

                 Date         Phone              Name  Amount Data.Code
0    2020-02-07 15:06  254718142970        DAVID MBUA  1500.0   8142970
1    2020-02-07 18:45  254724130465    CHEBET JOYLINE   297.0   4130465
2    2020-02-07 18:55  254724130465    CHEBET JOYLINE   400.0   4130465
3    2020-02-09 17:46  254798639024   CAROLINE KIRUJA   400.0   8639024
4    2020-02-09 18:47  254713340676    brenda nalondo   200.0   3340676
..                ...           ...               ...     ...       ...
340  2021-01-09 13:28  254712587989     EASTHER NJOKI   400.0   2587989
341  2020-10-19 12:00  254712598539  BEATRICE GATHONI   270.0   2598539
342  2020-10-21 13:07  254721905111       RACHEL MULI   100.0   1905111
343  2020-12-02 09:15  254799179715     CYNTHIA MUTUA   200.0   9179715
344  2020-12-11 17:15  254706857412  FLORENCE SUNGUTI   520.0   6857412

[345 rows x 5 columns]

In [9]:
# sorting out datetime values
new_df['Date'] = pd.to_datetime(new_df['Date'])
new_df = new_df.set_index('Date')

new_df['pay_year'] = new_df.index.year
new_df['pay_month'] = new_df.index.month
new_df['pay_day'] = new_df.index.day
new_df['pay_dayOfWeek'] = new_df.index.weekday
new_df['pay_weekOfMonth'] = new_df.index.week
new_df['pay_hour'] = new_df.index.hour
new_df['pay_minute'] = new_df.index.minute
new_df.head()

new_df = new_df.reset_index()
new_df

<ipython-input-9-40261b061087>:9: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  new_df['pay_weekOfMonth'] = new_df.index.week

,Date,Phone,Name,Amount,Data.Code,pay_year,pay_month,pay_day,pay_dayOfWeek,pay_weekOfMonth,pay_hour,pay_minute
0,2020-02-07 15:06:00,254718142970,DAVID MBUA,1500.0,8142970,2020,2,7,4,6,15,6
1,2020-02-07 18:45:00,254724130465,CHEBET JOYLINE,297.0,4130465,2020,2,7,4,6,18,45
2,2020-02-07 18:55:00,254724130465,CHEBET JOYLINE,400.0,4130465,2020,2,7,4,6,18,55
3,2020-02-09 17:46:00,254798639024,CAROLINE KIRUJA,400.0,8639024,2020,2,9,6,6,17,46
4,2020-02-09 18:47:00,254713340676,brenda nalondo,200.0,3340676,2020,2,9,6,6,18,47
...,...,...,...,...,...,...,...,...,...,...,...,...
340,2021-01-09 13:28:00,254712587989,EASTHER NJOKI,400.0,2587989,2021,1,9,5,1,13,28
341,2020-10-19 12:00:00,254712598539,BEATRICE GATHONI,270.0,2598539,2020,10,19,0,43,12,0
342,2020-10-21 13:07:00,254721905111,RACHEL MULI,100.0,1905111,2020,10,21,2,43,13,7
343,2020-12-02 09:15:00,254799179715,CYNTHIA MUTUA,200.0,9179715,2020,12,2,2,49,9,15
344,2020-12-11 17:15:00,254706857412,FLORENCE SUNGUTI,520.0,6857412,2020,12,11,4,50,17,15

In [10]:
engine = create_engine(conn_str, echo=True)

try:
    new_df.to_sql('customers_clean', con=engine, if_exists='replace', index=False)
except exc.IntegrityError:
    pass
e = engine.execute("SELECT * FROM customers_clean").fetchall()
print(e)

2021-01-30 09:33:43,782 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-01-30 09:33:43,783 INFO sqlalchemy.engine.base.Engine ()
2021-01-30 09:33:43,784 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-01-30 09:33:43,785 INFO sqlalchemy.engine.base.Engine ()
2021-01-30 09:33:43,786 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("customers_clean")
2021-01-30 09:33:43,787 INFO sqlalchemy.engine.base.Engine ()
2021-01-30 09:33:43,789 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("customers_clean")
2021-01-30 09:33:43,790 INFO sqlalchemy.engine.base.Engine ()
2021-01-30 09:33:43,793 INFO sqlalchemy.engine.base.Engine
CREATE TABLE customers_clean (
	"Date" DATETIME,
	"Phone" TEXT,
	"Name" TEXT,
	"Amount" FLOAT,
	"Data.Code" TEXT,
	pay_year BIGINT,
	pay_month BIGINT,
	pay_day BIGINT,
	"pay_dayOfWeek" BIGINT,
	"pay_weekOfMonth" BIGINT,
	pay_hour BIGINT,
	pay_minute BIGINT
)


2021-01-30 09:33:43,794 INFO sqlalchemy.engine.base.Engine ()
2021-01-30 09:33:43,799 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-30 09:33:43,802 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-01-30 09:33:43,808 INFO sqlalchemy.engine.base.Engine INSERT INTO customers_clean ("Date", "Phone", "Name", "Amount", "Data.Code", pay_year, pay_month, pay_day, "pay_dayOfWeek", "pay_weekOfMonth", pay_hour, pay_minute) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-01-30 09:33:43,808 INFO sqlalchemy.engine.base.Engine (('2020-02-07 15:06:00.000000', '254718142970', 'DAVID MBUA', 1500.0, '8142970', 2020, 2, 7, 4, 6, 15, 6), ('2020-02-07 18:45:00.000000', '254724130465', 'CHEBET JOYLINE', 297.0, '4130465', 2020, 2, 7, 4, 6, 18, 45), ('2020-02-07 18:55:00.000000', '254724130465', 'CHEBET JOYLINE', 400.0, '4130465', 2020, 2, 7, 4, 6, 18, 55), ('2020-02-09 17:46:00.000000', '254798639024', 'CAROLINE KIRUJA', 400.0, '8639024', 2020, 2, 9, 6, 6, 17, 46), ('2020-02-09 18:47:00.000000', '254713340676', 'brenda nalondo', 200.0, '3340676', 2020, 2, 9, 6, 6, 18, 47), ('2020-03-01 13:38:00.000000', '254713340676', 'brenda nalondo', 500.0, '3340676', 2020, 3, 1, 6, 9, 13, 38), ('2020-06-04 17:14:00.000000', '254713340676', 'brenda nalondo', 170.0, '3340676', 2020, 6, 4, 3, 23, 17, 14), ('2020-06-10 15:28:00.000000', '254713340676', 'brenda nalondo', 340.0, '3340676', 2020, 6, 10, 2, 24, 15, 28)  ... displaying 10 of 345 total bound parameter sets ...  ('2020-12-02 09:15:00.000000', '254799179715', 'CYNTHIA MUTUA', 200.0, '9179715', 2020, 12, 2, 2, 49, 9, 15), ('2020-12-11 17:15:00.000000', '254706857412', 'FLORENCE SUNGUTI', 520.0, '6857412', 2020, 12, 11, 4, 50, 17, 15))
2021-01-30 09:33:43,814 INFO sqlalchemy.engine.base.Engine COMMIT
2021-01-30 09:33:43,817 INFO sqlalchemy.engine.base.Engine SELECT * FROM customers_clean
2021-01-30 09:33:43,818 INFO sqlalchemy.engine.base.Engine ()